/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  color: #777777;
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.625em;
  position: relative;
  display: block;
}

select {
  display: block;
}

figure {
  margin: 0;
}

a {
  transition: all 0.3s ease 0s;
}

iframe {
  border: 0;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  text-decoration: none;
  outline: 0;
}

.card-panel {
  margin: 0;
  padding: 60px;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  color: #222222;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
  line-height: 1.5em;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Raleway', sans-serif;
  color: #222222;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
}

h1,
.h1 {
  font-size: 3.6rem;
}

h4,
.h4 {
  font-size: 1.8rem;
}

/** Header properties **/
#header {
  padding: 14px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

@media (max-width: 673px) {
  #logo {
    margin-left: 20px;
  }
}

#header #logo img {
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  #header #logo img {
    max-height: 40px;
  }
}

.mb-10 {
  margin-bottom: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-60 {
  padding-bottom: 60px;
}

.text-center {
  text-align: center;
}

/**********************
* Nav Menu Properties *
**********************/
.nav-menu,
.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  margin: 16px 0 0 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #fff;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
  margin-left: 10px;
}

.nav-menu li:hover > ul {
  display: block;
}

.nav-menu ul li {
  min-width: 180px;
  text-align: left;
  transition: 0.3s;
}

#nav-menu-container {
  margin: 0;
}

@media (min-width: 1024px) {
  #nav-menu-container {
    padding-right: 60px;
  }
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

.nav-menu a {
  padding: 0 8px;
  text-decoration: none;
  display: inline-block;
  color: #222;
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: uppercase;
  outline: none;
}

.nav-menu ul li a {
  padding: 10px;
  color: #333;
  display: block;
  font-size: 1.2rem;
  text-transform: none;
  transition: 0.3s;
}

.nav-menu ul li:hover > a {
  color: #df003a;
}

.nav-menu ul ul {
  margin: 0;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.container.fullwidth {
  width: 100%;
}

.section-gap {
  padding: 120px 0;
}

.banner-area {
  background: url(https://picsum.photos/id/496/1920/900.jpg) center;
  background-size: cover;
}

.row.fullwidth.d-flex.align-items-center.justify-content-center {
  min-height: 100vh;
}

.banner-content {
  margin-top: -90px;
  text-align: center;
}

.banner-content h1 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1em;
  margin-top: 20px;
}

.banner-content p {
  color: #222;
}

@media (max-width: 1199.98px) {
  .banner-content h1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 991.98px) {
  .banner-content h1 {
    font-size: 3.6rem;
  }
}

@media (max-width: 414px) {
  .banner-content h1 {
    font-size: 3.2rem;
  }
}

.single-offer .desc {
  margin-left: 12px;
}

.single-offer h4 {
  margin-bottom: 15px;
}
